Xft.antialias: 1
Xft.hinting: 1
Xft.autohint: 0
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xft.dpi: 92x93


! kanagawa colours
*background: #1F1F28
*foreground: #DCD7BA

*color0: #090618
*color8: #727169

*color1: #C34043
*color9: #E82424

*color2: #76946A
*color10: #98BB6C

!ccolor3: #FFA066
*color3: #C0A36E
*color11: #E6C384

*color4: #7E9CD8
*color12: #7FB4CA

*color5: #957FB8
*color13: #938AA9

*color6: #6A9589
*color14: #7AA89F

*color7: #C8C093
*color15: #DCD7BA

! dkeg 2014
! iron 

!   *background: #0f0e0f
!   *foreground: #abaeac

!   *color0: #101010
!   *color1: #252525
!   *color2: #464646
!   *color3: #525252
!   *color4: #2a2a2a
!   *color5: #b9b9b9
!   *color6: #e3e3e3
!   *color7: #f7f7f7
!   *color8: #7c7c7c
!   *color9: #999999
!   *color10: #a0a0a0
!   *color11: #8e8e8e
!   *color12: #333333
!   *color13: #686868
!   *color14: #747474
!   *color15: #5e5e5e
